<h1>Změna hesla</h1>
<form method="post">
    <div class="mt-3">
    <label for="job">Staré heslo</label>
        <input type="password" name="old" id="old" class="form-control"/>
        {{#error}}<small class="text-warning">{{error}}</small>{{/error}}
    </div>

        <div class="mt-3">
    <label for="job">Nové heslo</label>
        <input type="password" name="new" id="new" class="form-control" type="number"/>
    </div>
<div class="mt-3">
<input type="submit" value="Změnit" class="btn btn-primary" />
    </div>
        

    </form>
