<table class="table table-striped">
    <thead>
    <tr>
        <th>Jméno
            <a href="?poradi=prijmeni_down" {{#seradit.prijmeni_down}}class="sorted"{{/seradit.prijmeni_down}}><i class='bi bi-arrow-down'></i></a>
            <a href="?poradi=prijmeni_up" {{#seradit.prijmeni_up}}class="sorted"{{/seradit.prijmeni_up}}><i class='bi bi-arrow-up'></i></a>
        </th>
        <th>Místnost
            <a href="?poradi=nazev_down" {{#seradit.nazev_down}}class="sorted"{{/seradit.nazev_down}}><i class='bi bi-arrow-down'></i></a>
            <a href="?poradi=nazev_up" {{#seradit.nazev_up}}class="sorted"{{/seradit.nazev_up}}><i class='bi bi-arrow-up'></i></a>
        </th>
        <th>Telefon
            <a href="?poradi=telefon_down" {{#seradit.telefon_down}}class="sorted"{{/seradit.telefon_down}}><i class='bi bi-arrow-down'></i></a>
            <a href="?poradi=telefon_up" {{#seradit.telefon_up}}class="sorted"{{/seradit.telefon_up}}><i class='bi bi-arrow-up'></i></a>        
        </th>
        <th>Pozice
            <a href="?poradi=poradi_down" {{#seradit.poradi_down}}class="sorted"{{/seradit.poradi_down}}><i class='bi bi-arrow-down'></i></a>
            <a href="?poradi=poradi_up" {{#seradit.poradi_up}}class="sorted"{{/seradit.poradi_up}}><i class='bi bi-arrow-up'></i></a>
</th>
{{#admin}}
        <th>Akce</th>
        {{/admin}}
    </tr>
    </thead>

    <tbody>
    {{# employees }}
        <tr>
            <td><a href="/people/clovek.php?employee_id={{ e_id }}">{{ name }} {{surname}}</a></td>
            <td>{{ room_name }}</td>
            <td>{{ phone }}</td>
            <td>{{ job}}</td>
            {{#admin}}
            <td>
                <form method="post" action="/people/update.php">
                    <input type="hidden" name="employee_id" value="{{e_id}}" />
                    <input type="submit" value="Update" class="btn btn-info"/>
                </form>
                <form method="post" action="/people/delete.php" onsubmit="return confirm('Opravdu chcete smazat tohoto zaměstnance?\n Akce je nevratná!')">
                    <input type="hidden" name="employee_id" value="{{e_id}}" />
                    <input type="submit" value="Delete" class="btn btn-danger"/>
                </form>
            </td>
            {{/admin}}
        </tr>
    {{/ employees }}
    </tbody>
</table>
{{#admin}}
<a href="/people/insert.php" class="btn btn-primary">Nový zaměstnanec</a>
{{/admin}}