<table class="table table-striped">
    <thead>
    <tr>
        <th>Název
            <a href="?poradi=nazev_down" {{#seradit.nazev_down}}class="sorted"{{/seradit.nazev_down}}><i class='bi bi-arrow-down'></i></a>
            <a href="?poradi=nazev_up" {{#seradit.nazev_up}}class="sorted"{{/seradit.nazev_up}}><i class='bi bi-arrow-up'></i></a>
        </th>
        <th>Číslo
            <a href="?poradi=cislo_down" {{#seradit.cislo_down}}class="sorted"{{/seradit.cislo_down}}><i class='bi bi-arrow-down'></i></a>
            <a href="?poradi=cislo_up" {{#seradit.cislo_up}}class="sorted"{{/seradit.cislo_up}}><i class='bi bi-arrow-up'></i></a>
        </th>
        <th>Telefon
            <a href="?poradi=telefon_down" {{#seradit.telefon_down}}class="sorted"{{/seradit.telefon_down}}><i class='bi bi-arrow-down'></i></a>
            <a href="?poradi=telefon_up" {{#seradit.telefon_up}}class="sorted"{{/seradit.telefon_up}}><i class='bi bi-arrow-up'></i></a>        
        </th>
        {{#admin}}
        <th>Akce</th>
        {{/admin}}
    </tr>
    </thead>

    <tbody>
    {{# rooms }}
        <tr>
            <td><a href="/rooms/room.php?room_id={{ room_id }}">{{ name }}</a></td>
            <td>{{ no }}</td>
            <td>{{ phone }}</td>
            {{#admin}}
            <td>
                <form method="post" action="/rooms/update.php">
                    <input type="hidden" name="room_id" value="{{room_id}}" />
                    <input type="submit" value="Update" class="btn btn-info"/>
                </form>
                <form method="post" action="/rooms/delete.php" onsubmit="return confirm('Really delete room?\nAction cannot be undone!')">
                    <input type="hidden" name="room_id" value="{{room_id}}" />
                    <input type="submit" value="Delete" class="btn btn-danger"/>
                </form>
            </td>
            {{/admin}}
        </tr>
    {{/ rooms }}
    </tbody>
</table>
{{#admin}}
<a href="/rooms/insert.php" class="btn btn-primary">Nová místnost</a>
{{/admin}}